# Auto detect text files and perform LF normalization.
* text=auto

# Ignore all test and documentation with "export-ignore".
/.editorconfig export-ignore
.git*         export-ignore
/prettierrc   export-ignore
/LICENSE      export-ignore
/README.md    export-ignore

# Do not try and merge these files.
yarn.lock -diff
